body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Data Tables */
.list-panel {
    margin-top: 20px;
}

    .list-panel .panel-heading {
        overflow: auto;
        padding: 5px 20px;
    }

    .list-panel .panel-title {
        float: left;
        margin-top: 10px;
    }

    .list-panel .panel-body {
        padding: 20px 20px 10px 20px;
    }

    .list-panel .refresh-button {
        float: right;
    }

.data-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
